# Import and EDA

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Data\Supply_Chain_Shipment_Pricing_Data.csv')

In [3]:
df.head()

,id,project code,pq #,po / so #,asn/dn #,country,managed by,fulfill via,vendor inco term,shipment mode,...,unit of measure (per pack),line item quantity,line item value,pack price,unit price,manufacturing site,first line designation,weight (kilograms),freight cost (usd),line item insurance (usd)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,True,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",True,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,True,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",True,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",True,7590,45450.08,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            10324 non-null  int64
 1   project code                  10324 non-null  object
 2   pq #                          10324 non-null  object
 3   po / so #                     10324 non-null  object
 4   asn/dn #                      10324 non-null  object
 5   country                       10324 non-null  object
 6   managed by                    10324 non-null  object
 7   fulfill via                   10324 non-null  object
 8   vendor inco term              10324 non-null  object
 9   shipment mode                 9964 non-null   object
 10  pq first sent to client date  10324 non-null  object
 11  po sent to vendor date        10324 non-null  object
 12  scheduled delivery date       10324 non-null  object
 13  delivered to client date      10324 non-null  object
 14  delivery recorded date        10324 non-null  object
 15  product group                 10324 non-null  object
 16  sub classification            10324 non-null  object
 17  vendor                        10324 non-null  object
 18  item description              10324 non-null  object
 19  molecule/test type            10324 non-null  object
 20  brand                         10324 non-null  object
 21  dosage                        8588 non-null   object
 22  dosage form                   10324 non-null  object
 23  unit of measure (per pack)    10324 non-null  int64
 24  line item quantity            10324 non-null  int64
 25  line item value               10324 non-null  float64
 26  pack price                    10324 non-null  float64
 27  unit price                    10324 non-null  float64
 28  manufacturing site            10324 non-null  object
 29  first line designation        10324 non-null  bool
 30  weight (kilograms)            10324 non-null  object
 31  freight cost (usd)            10324 non-null  object
 32  line item insurance (usd)     10037 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(25)
memory usage: 2.5+ MB

In [6]:
df['country'].value_counts()

South Africa          1406
Nigeria               1194
Côte d'Ivoire         1083
Uganda                 779
Vietnam                688
Zambia                 683
Haiti                  655
Mozambique             631
Zimbabwe               538
Tanzania               519
Rwanda                 430
Congo, DRC             333
Guyana                 237
Ethiopia               216
South Sudan            164
Kenya                  111
Burundi                 98
Namibia                 95
Cameroon                75
Botswana                70
Ghana                   58
Dominican Republic      52
Sudan                   46
Swaziland               35
Mali                    17
Pakistan                15
Guatemala               15
Malawi                  14
Benin                   13
Lebanon                  8
Libya                    8
Angola                   7
Liberia                  6
Sierra Leone             4
Lesotho                  4
Afghanistan              3
Togo                     3
Senegal                  3
Burkina Faso             2
Kazakhstan               2
Kyrgyzstan               2
Guinea                   1
Belize                   1
Name: country, dtype: int64

In [7]:
df['shipment mode'].value_counts()

Air            6113
Truck          2830
Air Charter     650
Ocean           371
Name: shipment mode, dtype: int64